# venv
ht-udp/venv/
.env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
ht-udp/venv/
ht-udp/build/
ht-udp/dist/
ht-udp/*.spec
ht-udp/__pycache__/
ht-udp/*.pyc
*.exe



#Godot
h-t-g/.godot
# Mac
.DS_Store

# VSCode
.vscode/

# Logs
*.log

# fichiers spécifiques
config.json
secret.txt
*.xcf

# dossiers spécifiques
data/
models/
